[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Android Application Package File
Name[zh_CN]=安卓应用程序软件包文件
ServiceTypes=ThumbCreator
MimeType=application/vnd.android.package-archive;
CacheThumbnail=true
IgnoreMaximumSize=true
X-KDE-Library=apkthumbnail
